<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="list-group" *ngFor="let type of serverType">
                    <li class="list-group-item">
                        <button class="btn btn-secondary btn-block">{{type}}</button></li>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card mb-2 p-3" *ngFor="let server of servers">
                    <h5>Server Type: {{server.type}}</h5>
                    <h6>Server Name: {{server.name}}</h6>
                    <p>Server Status: {{server.status}}</p>
                    <button type="button" class="btn btn-primary justify-content-end" id="edit-button" (click)="editData(server)">Edit</button>
                </div>
            </div>
            <div>
                <br>
                <br>
                <button class="btn btn-success " routerLink="/server/createNew">Create New Server Data</button>
                <br>
                <br>
                <br>
                <button class="btn btn-success">Create Server Type</button>
            </div>
        </div>
    </div>
</div>