<div class="col-sm">
    <div id="a1">
        <div id="a2">
            <h6 id="a4">Upcoming events</h6>

            <div id="a3" style="align-items:center;" class="col-sm-4"> <img id="img2" src="../../assets/kids-dp-122.jpg" title="profile" class="center"></div>
            <h6 id="a4">Paris</h6>

            <h6 id="a4">Fri,1 nov 2020</h6>
            <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;margin-top: 10px;">Info</button>
        </div>
        <div id="a5">
            ADS
        </div>
        <div id="a5">
            ADS
        </div>

    </div>
</div>