<div class="card">
    <div class="card-body" *ngFor="let f of form">
        <h5 class="card-title">Form Details</h5>
        <h4 style="color: rgb(54, 85, 112);">First Name : {{f.firstName}}</h4>
        <h4 style="color: rgb(54, 85, 112);">Last Name : {{f.lastName}}</h4>
        <h4 style="color: rgb(54, 85, 112);">First Name : {{f.firstName}}</h4>
        <h4 style="color: rgb(54, 85, 112);">Email : {{f.email}}</h4>
        <h4 style="color: rgb(54, 85, 112);">Qualification: {{f.qualification}}</h4>
        <h4 style="color: rgb(54, 85, 112);">Experience : {{f.experience}}</h4>
        <button type="button" class="btn btn-primary">Button</button>
    </div>
</div>