<div id="a1" class="col-sm">
    <div id="a2">
        <h6 id="a4"><a href="#">My Profile</a></h6>
        <br>
        <div id="a3" style="align-items:center;"> <img id="img2" src="../../assets/kids-dp-122.jpg" title="profile" class="center"></div>
    </div>
    <div id="a5">
        <br>
        <h6 id="a4"><a href="#">Intrest</a></h6>

        <br>
        <div id="a6">

            <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;margin-top: 10px;">Primary</button>
            <button type="button" class="btn btn-success btn-sm" style="margin-right: 10px;margin-top: 10px;">Success</button>

            <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;margin-top: 10px;">Info</button>
            <br>
            <button type="button" class="btn btn-warning btn-sm" style="margin-right: 10px;margin-top: 10px;">Warning</button>
            <button type="button" class="btn btn-danger btn-sm" style="margin-right: 10px;margin-top: 10px;">Danger</button>
        </div>
    </div>
    <div id="a7">



        <table id="a9">
            <tr>
                <td style="width: 90%;"><span><strong>Ey</strong></span></td>
                <td style="width: 10%;"> <span id="a8"><strong>X</strong></span></td>
            </tr>
        </table>
        <br>
        <p>People are looking at your profile.<br> find out who.</p>
    </div>
    <a href="#" style="text-align: center;">Link</a><br>
    <a href="#" style="text-align: center;">Link</a><br>
    <a href="#" style="text-align: center;">Link</a>
</div>