<div id="b1" class="col-sm">
    <div id="b2" class="col-sm">
        <h6>Status feeling: Blue</h6><br>
        <button style="background-color: aliceblue;border-color: gray;border-radius: 25%;">Like</button>
    </div>
    <div id="b3" style="width: 30%;" class="col-sm">
        <strong>John</strong>
        <div id="a3" style="align-items:center;"> <img id="img2" src="../../assets/kids-dp-121.jpg" title="profile" class="center"></div>

    </div>
    <div id="b4" class="col-sm" style="width: 67%;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?
        </p>
    </div>
    <div style=" clear: both;"></div>
    <div id="b3" style="width: 30%;" class="col-sm">
        <strong>John</strong>
        <div id="a3" style="align-items:center;" class="col-sm"> <img id="img2" src="../../assets/kids-dp-130.jpg" title="profile" class="center"></div>

    </div>

    <div id="b4" style="width: 67%;" class="col-sm">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?
        </p>
    </div>
    <div style=" clear: both;"></div>
    <div id="b3" style="width: 30%;" class="col-sm">
        <strong>John</strong>
        <div id="a3" style="align-items:center;"> <img id="img2" src="../../assets/kids-dp-121.jpg" title="profile" class="center"></div>

    </div>
    <div id="b4" style="width: 67%;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?
        </p>
    </div>
    <div style=" clear: both;"></div>
    <div id="b3" style="width: 30%;" class="col-sm">
        <strong>John</strong>
        <div id="a3" style="align-items:center;" class="col-sm"> <img id="img2" src="../../assets/kids-dp-122.jpg" title="profile" class="center"></div>

    </div>
    <div id="b4" style="width: 67%;" class="col-sm">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?Accusamus maiores vel ullam voluptate deserunt veritatis eveniet, nihil illum?
        </p>
    </div>
</div>