<app-navigation></app-navigation>
<br>
<br>

<div class="table-responsive-sm">
    <table class="table">
        <tr>
            <td style="width:22%" class="col-sm-3">

                <app-profile></app-profile>

            </td>
            <td style="width:60%" class="col-sm-7">
                <app-status></app-status>


            </td>
            <td style="width:18%" class="col-sm-2">

                <app-upcoming></app-upcoming>

            </td>
        </tr>
    </table>
</div>
<!-- <div>
    <div class="a1">
        <div class="container">
            <div class="row">
                <app-profile></app-profile>
            </div>
        </div>

    </div>
    <div class="a2">
        <div class="container">
            <div class="row">
                <app-status></app-status>
            </div>
        </div>

    </div>
    <div class="a3">
        <div class="container">
            <div class="row">
                <app-upcoming></app-upcoming>
            </div>
        </div>

    </div>
</div>
 -->

<br>
<br>
<app-footer></app-footer>